.app-header-home {
  background-color: #263238;
  height: 36px;
  padding: 8px 32px 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-text {
  color: #fff;
  size: 18px;
}

.search-div {
  display: flex;
  flex-direction: row;
  height: 36px;
  width: 300px;
  background-color: #c0c0c0;
  border-radius: 4px;
}

.app-sub-header {
  display: flex;
  flex-direction: row;
}

.profile_img {
  height: 36px;
  border-radius: 17px;
  border: white;
}

.menu-container {
  margin-top: 40px;
}

/* .menu-item{
    background-color: blueviolet;
    color:red;
} */

.MenuItem.selected {
  /* Increase the specificity */
  color: blue;
}

.MenuItem.background {
  color: red;
}

button.MuiIconButton-root {
  padding: 0px;
  padding-left: 30px;
  width: 40px;
}

ul.MuiList-root {
  background-color: lightgray;
}

li.MuiListItem-divider {
  border-color: grey;
  border-bottom: 2px;
  border-style: groove;
  margin: 5px;
}

.cards-div {
  display: flex;
  flex-direction: row;
}

.hashTags {
  color: cornflowerblue;
}

.movie-poster {
  width: 100%;
  height: 300px;
}

div.MuiCardMedia-root {
  /* width: 100%; */
  /* padding-left: 16px;
    padding-right: 16px; */
  padding: 16px;
}

.postsCard.MuiCard-root {
  margin: 10px;
}

ul.MuiGridList-root {
  padding-left: 60px;
  padding-right: 60px;
}

.posted-by {
  width: 40px;
  height: 40px;
}

.horizontal-rule-style {
  height: 1px;
  color: lightgrey;
  background-color: lightgrey;
}

.fav-icon-color {
  color: red;
}

.comment-section {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.MuiFormControl-root {
  width: 85%;
}

.comments-show {
  padding: 16px;
}

.comment-username {
  font-weight: bold;
}

.post-details {
  display: flex;
  flex-direction: row;
}
